<head>
  <link rel="stylesheet" href="./style.css">
</head>

<nav>

<a href="/closet"><img id="navimg1" src="images/schrank.png" alt="schrank"></a>
<a href="/"><img id="logo" src="images/logo.png" width="250" alt="logo"></a>
<a href="/profile"><img id="navimg2" src="images/benutzer.png" alt="benutzer"></a>
</nav>