 <link rel="stylesheet" href="./style.css">

<div class="logoreglogdiv">
<a href="/"><img class="logoreglog" src="images/logo.png" alt="logo"></a>
</div>

<h1>Anmelden</h1>

<div class="loginform">
<form action="/login" method="post">
<input type="text" name="email" class="usernamelogin" placeholder="Benutzername">
<br><br> 
<input type="password" name="passwort" class="passwordlogin" placeholder="Passwort">
<br><br>
<input type="submit" value="Anmelden" class="login">
</form>
<a href="/registration_form"><button class="registerbutton">Registrieren</button></a>

</div>

