{{> header}}
<h1>Profil</h1> 


<div class="profile">
  {{#profile}}
      <h2>Hi {{email}}</h2>
      <div class="profdiv"><img src="/uploads/{{profilepic}}" alt="closetimg" class="profilepic"></div>
      </form>
  {{/profile}}
</div>
